<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= @title %></title>
    <style>
      body {
      font-family:arial,helvetica,clean,sans-serif;
      font-size:12px;
      font-size-adjust:none;
      font-style:normal;
      font-variant:normal;
      font-weight:normal;
      line-height:1.231;
      }
      #wrap{width:910px;text-align:left;margin:0 auto;}
      .summary{background:#F0F3F5 none repeat scroll 0 0;margin-top:28px;padding:16px 22px 18px;;}
      p.strong{font-weight:bold;}
      #amount{color:#FF3300;font-size:30px;margin:0 5px;}
      #amount sub{font-size:14px;vertical-align:baseline;}
      .trade-title{margin:5px 0 0;}
      .summary p{font-size:14px;}
      #trade-list{padding-top:8px;}
      #trade-list dd{clear:both;left:70px;position:relative;top:-18px;}
      dt{font-weight:bold;}
      .Pad{padding-top:20px;}
    </style>
  </head>

  <body>
    <%= @yield %>
  </body>

</html>
