
<div class="Content">
  <table border="0" cellspacing="0" cellpadding="0" class="ListTradeItem" summary="购买信息">
    <thead>
      <tr>
        <th>商品名称</th>
        <th align="right">应付总价</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @am.subject %></td>
        <td align="right"><%=@am.total_fee %> 元</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="Pad" id="comfirm1">
  <form action="/alipay/pay" method="post" target="_blank">
    <input type="hidden" value="<%= @am.notify_url%>" name="notify_url" />
    <input type="hidden" value="<%= @am.notify_to_query %>" name="notify" />
    <input type="submit" value="确认无误, 付款"/>
  </form>
</div>

