<style type="text/css">
  div#Info{border:1px solid #FFD0A8;}
  div.ErrorInfo{background:transparent url(/images/error.gif) repeat scroll 0 0}
  div#Info .ErrorInfo{background-color:#FFFFEE;background-position:20px 16px;background-repeat:no-repeat;width:auto;border:1px solid #FFF0A8}
  div#Info strong{margin-left:65px;font-size:18px;padding:25px 0 6px 3px;display:block;}
  div#Info ul{list-style-image:url(/images/q2.gif);margin:18px auto;}
  div#Info li{text-align:center;}
  span.grey-info{color:#666666;font-size:13px;line-height:22px;margin-left:6px;}
</style>

<div id="Info">
  <div class="ErrorInfo">
    <strong>请求失败</strong>
    <ul>
     <% @am.errors.each do |k, v| %>
      <li><span class="qicon"><%= k %></span>:<span class="grey-info"><%= v.join("; ") %></span></li>
     <% end %>
    </ul>
  </div>
</div>
